<!-- 
<div class="container-fluid banner">
  <p class="banner-text">Video Call</p>
</div>
<div class="ui container">
  <h1 class="ui header">Simple Agora Video App</h1>
  <hr>
  <div class="ui two column stackable grid">
    <div class="ui six wide column">
    <div id="local-player" class="player"></div>
    <div>
      <button (click)="mute()" class="btn btn-live btn-sm">mute</button>
      <button (click)="unmute()" class="btn btn-live btn-sm">unmute</button>
    </div>
    <div class="screen" *ngIf="this.stream.isScreenShared == true" id="screens">
    </div>
      <p>{{userName}}</p>
      <h4 class="ui center aligned header" style="margin:0;">
        Local User
      </h4>
    </div>
  </div>
  <h3 class="ui center aligned header">Remote Users</h3>
  <div id="remote-videos" class="ui stackable grid">
    <div class="four wide column" *ngFor="let i of stream.remoteUsers">
      <div id="{{ 'remote-playerlist' + i.uid}}" class="ui centered medium image" style="  width: 200px;
      height: 200px;">{{i.name}}</div>
    </div>
  </div>
  <div>
    <button (click)="rtmclientChannelLogout()">leave Channel</button>
    <button (click)="shareScreen()"> share Screen</button>
  </div>
</div>
<input type="number" placeholder="Volume" (change)="setVol($event)">
<button (click)="cohost()">cohost</button>

 -->



    <!-- Timer{{ hours
    }} {{minutes}} {{second}} -->
    <div class="container diplay-view call-header">
      <div class="my-row">
          <div class="col-lg-12 meeting-info"
              style="flex-grow: 1;">
              <!-- <div class="back-icon header-icon">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div> -->
              <span>Meeting</span>
              <span class="time-on-call">{{this.hours == 0 ? '00': this.hours}}:{{this.minutes == 0 ? '00': this.minutes}}: {{this.second}}</span>
              <!-- <i class="fa fa-caret-right" aria-hidden="true"></i> -->
              <!-- <div class="flip header-icon">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
              </div>
              <div class="speaker header-icon">
                  <i class="fa fa-volume-up" aria-hidden="true"></i>
              </div> -->
          </div>
          <div class="col-lg-12 members"
              style="flex-grow: 8;">

              <!-- If We have Only One User  -->
              <!-- <div class="only-local-user">
                  <div class="user user1">
                      <fa-icon [icon]="faVideoSlash" [classes]="['my-video-camera-slash']"
                          [styles]="{'color': 'red', 'width': '100px', 'height': '100px'  }"></fa-icon>
                  </div>
              </div> -->
              <!-- If we Have Mutiple Users -->
              <div class="users"
                  [ngClass]="{'my-users-class': stream.remoteUsers.length == 1,
                      'my-users-class2':stream.remoteUsers.length == 2
                        }">
                  <div class="local-user" >
                      <fa-icon  *ngIf="!this.stream.videoStatus"
                          [icon]="faVideoSlash"
                          [classes]="['my-video-camera-slash']"
                          [styles]="{'color': 'red', 'width': '50px', 'height': '50px'  }">
                      </fa-icon>
                     <div id="local-player" class="player" [ngClass]="{'enableDisable' : !this.stream.videoStatus}">
                      
                     </div>
                      <p>{{stream.name}}</p>
    <div class="screen" *ngIf="this.stream.isScreenShared == true" id="screens">

                  </div>
                  <div class="other-users"
                      [ngClass]="{'my-class': stream.remoteUsers.length == 1,
                      'my-class2':stream.remoteUsers.length == 2
                        }">
                        <!--  -->
                      <div class="other-user user2"
                      *ngFor="let i of stream.remoteUsers"
                      >
                          <!-- <fa-icon
                          [icon]="faVideoSlash"
                          [classes]="['my-video-camera-slash']"
                          [styles]="{'color': 'red', 'width': '50px', 'height': '50px'  }">
                          </fa-icon> -->
                              <div id="{{ 'remote-playerlist' + i.uid}}" class="ui centered medium image video-align">
                              </div>
                          <p>{{i.name}}</p>
                      </div>
                      <!-- <div class="other-user user3">
                          <fa-icon
                          [icon]="faVideoSlash"
                          [classes]="['my-video-camera-slash']"
                          [styles]="{'color': 'red', 'width': '50px', 'height': '50px'  }">
                          </fa-icon>
                          <p>User Name 3</p>
                      </div> -->
                  </div>
              </div>

              <!-- <div class="my-video">
                  <i class="fa fa-user" aria-hidden="true"></i>
              </div> -->
          </div>
          <div class="col-lg-12 footer"
              style="flex-grow: 8;">
              <div class="hang-up footer-icon"
                  style="background-color: red;
                      color: white" (click)="end();this.stream.type = 'endd'">
                  <i class="fa fa-phone"
                   aria-hidden="true" style="transform: rotate(135deg);"></i>
              </div>
              <div class="video-status footer-icon"
                  style="background-color: white;
                      color: #838383" (click)="stream.videoUpdate()">
                  <i class="fa fa-video" aria-hidden="true" *ngIf="stream.videoStatus" ></i>
                  <img src="../../assets/video-slash-solid.svg" alt="" *ngIf="!stream.videoStatus">


              </div>
              <div class="mic-status footer-icon"
                  style="background-color: white;
                      color: #838383" (click)="stream.audioUpdate()">
                  <i class="fa fa-microphone" aria-hidden="true" *ngIf="stream.audioStatus" ></i>
                  <i class="fa fa-microphone-slash" aria-hidden="true" *ngIf="!stream.audioStatus"></i>

              </div>
              <div class="options footer-icon"
                  style="background-color: white;
                  background: #555555;
                  color: #fff;" (click)="showSuccess()">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </div>
          </div>
      </div>
  </div>
  <div>
  <select name="" id="" [(ngModel)]="selectedValue" (change)="switchAudio()">
    <option value="">audio</option>
    <option *ngFor="let obj of externalaudiodevices" [ngValue]="obj">{{obj.label}}</option>
  </select>
  
  <select name="" id="" [(ngModel)]="selectedValue" (change)="switchVideo()">
    <option value="">video</option>

    <option *ngFor="let obj of externalvideodevices" [ngValue]="obj">{{obj.label}}</option>
  </select>
</div>
<div>
  <button (click)="channelMsg()">Send message in channel</button>
  <button (click)="peertopeer()">Send One to One message</button>
</div>