
<div class="container-fluid banner">
  <p class="banner-text">Video Call</p>
</div>
<div class="ui container">
  <h1 class="ui header">Simple Agora Video App</h1>
  <hr>
  <div class="ui two column stackable grid">


    <!-- Local user Camera -->
    <div class="ui six wide column">
      <!-- <img  id="local-image" class="ui large image" src="../assets/images/image.png" style="  width: 200px;
      height: 200px;"> -->
    <div id="local-player" class="player"></div>
    <div>
      <button (click)="mute()" class="btn btn-live btn-sm">mute</button>
      <button (click)="unmute()" class="btn btn-live btn-sm">unmute</button>
    </div>
    <div class="screen" *ngIf="this.stream.isScreenShared == true" id="screens">

    </div>
      <!-- <video id="local-video" class="ui large image"  autoplay></video> -->
      <p>{{userName}}</p>
      <h4 class="ui center aligned header" style="margin:0;">
        Local User
      </h4>
    </div>
  </div>

  <!-- Remote user Cameras -->
  <h3 class="ui center aligned header">Remote Users</h3>
  <div id="remote-videos" class="ui stackable grid">
    <div class="four wide column" *ngFor="let i of stream.remoteUsers">
      <!-- <img class="ui centered medium image" src="../assets/images/image.png" style="  width: 200px;
      height: 200px;"> -->
      <div id="{{ 'remote-playerlist' + i.uid}}" class="ui centered medium image" style="  width: 200px;
      height: 200px;">{{i.name}}</div>

    </div>
  </div>


  <div>
    <button (click)="channelMsg()">Send message in channel</button>
    <button (click)="peertopeer()">Send One to One message</button>

    <button (click)="rtmclientChannelLogout()">leave Channel</button>
    <button (click)="shareScreen()"> share Screen</button>
  </div>

</div>
<input type="number" placeholder="Volume" (change)="setVol($event)">
<button (click)="cohost()">cohost</button>

<select name="" id="" [(ngModel)]="selectedValue" (change)="switchAudio()">
  <option *ngFor="let obj of externalaudiodevices" [ngValue]="obj">{{obj.label}}</option>
</select>

<select name="" id="" [(ngModel)]="selectedValue" (change)="switchVideo()">
  <option *ngFor="let obj of externalvideodevices" [ngValue]="obj">{{obj.label}}</option>
</select>















