<div class="ui ten wide column">
  <div class="ui segment">

    <!-- Chat Room Form -->
    <div class="ui form">
      <div class="fields">
        <div class="field">
          <label>User Name</label>
          <input autocomplete="off" type="text" placeholder="Enter user name" id="username" name="username" [(ngModel)]="userName">
        </div>
      </div>
      <br>
      <div class="ui buttons" (click)="startCall()">
        <div class="or"></div>
        <button *ngIf="hideBtns">Start Call</button>
      </div>
    </div>

    <!-- Chat Room Messages -->
    <div id="chat"></div>
  </div>
</div>
